@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Manangement System</h1>
    <p class="lead">Using ASP.NET MVC (Model View Controller) and SQL</p>
    <p>Click below for code</p>
    <p><a href="https://github.com/pratik-kale20/student_management" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Problem Statement</h2>
        <p>
            The problem occurred before having computerized system includes: File lost When computerized system is not implemented file is always lost because of human environment. due to some human error there may be a loss of records.

            To solve this problem we decided to develop an efficient student management system which can prevent loss of student data.
        </p>
    </div>
  
    <div class="col-md-6">
        <h2>Group Members</h2>
        <p>
            <h4>Pratik Kale (16)</h4>
            <h4>Nandini Barkul (58)</h4>
            <h4>Dnyanada Mahajan (61)</h4>
            <h4>Vaishnavi Patil (169)</h4>
        </p>
    </div>
</div>